*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
  
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
   
}
header{
    position: relative;
}
nav{
    background-color: #e7f5ff;
    padding: 0 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    position: relative;

}
.nav-list{
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;
}
.nav-logo{
    font-size: 2.2rem;
}

a{
    text-decoration: none;
    color: #212529;
    font-size: 1.65rem;
    transition: all 0.25s linear;

}
.menu-btns{
    display: none;
}
/*hero section*/
.Hero-Section {
    height: 60vh;
   padding:  9.8rem 0;
    background-color: #a5d8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:#212529;
    
}
.Services-Section{
    height: 60vh;
    padding:  9.8rem 0;
    background-color: #f3f0ff;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:#212529;
}
.icons{
    font-size: 2.5rem;
}
.nav-menu-close{
    display: none;

}
/* .nav-menu-close{
    font-size: 2rem;
} */
  a:hover{
    text-decoration: underline;
    
 }


@media (max-width:980px){
    
    .menu-btns{
        display: block;
        z-index: 999;
        border: 2px solid #212529;
    }
    nav{
        padding: 0 3rem;
        height: 60px;
    }
    /* .nav-menu-close{
        display: none;
    } */
    header{
        position: relative;
    }
    .nav-list{
        width: 100%;
        height: 100vh;
        background-color: #e7f5ff;
        position: absolute;
         display: flex;
        
         justify-content: center;
         flex-direction: column;
        top: 0%;
        left: 0%;
        transform: translateX(100%);
        transition: all 0.7s linear;
    /* utube */
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    
    /*its a new property learn it*/
    }
    a{
        font-size: 2.5rem;
    }
    

    .active .nav-list{
        opacity: 1;
        transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
    }
   /* .active .icons[name="menu-outline"]{
    display: none;
   }
   .active .icons[name="close-outline"]{
    display: block;
   } */
    /*** if active class present then it will apply*/
    .active .nav-menu-icon{
        display: none;
    }
      
    .active .nav-menu-close{
        display: block;
       
    }

}